.btn {
    width: auto;
    height: auto;
    color: white;
    background-color: teal;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 0px solid teal;
}

.w-100 {
    width: 100%;
    height: auto;
    padding: 10px;
}

.w-90 {
    width: 90%;
    height: auto;
    padding: 10px;
}

.w-80 {
    width: 80%;
    height: auto;
    padding: 10px;
}

.w-70 {
    width: 70%;
    height: auto;
    padding: 10px;
}

.w-60 {
    width: 60%;
    height: auto;
    padding: 10px;
}

.w-50 {
    width: 50%;
    height: auto;
    padding: 10px;
}

.w-40 {
    width: 40%;
    height: auto;
    padding: 10px;
}

.w-30 {
    width: 30%;
    height: auto;
    padding: 10px;
}

.w-20 {
    width: 20%;
    height: auto;
    padding: 10px;
}

.w-10 {
    width: 10%;
    height: auto;
    padding: 10px;
}

.w-5 {
    width: 5%;
    height: auto;
    padding: 10px;
}

.h-10 {
    height: 10vh;
    font-size: larger;
    padding: 10px;
}

.h-9 {
    height: 9vh;
    font-size: medium;
    padding: 10px;
}

.h-8 {
    height: 8vh;
    font-size: medium;
    padding: 10px;
}

.h-7 {
    height: 7vh;
    font-size: medium;
    padding: 10px;
}

.h-6 {
    height: 6vh;
    font-size: medium;
    padding: 10px;
}

.h-5 {
    height: 5vh;
    font-size: medium;
    padding: 7px;
}

.h-4 {
    height: 4vh;
    font-size: medium;
    padding: 5px;
}

.h-3 {
    height: 3vh;
    font-size: small;
    padding: 3px;
}

.round {
    border-radius: 50%;
}

.round._1 {
    border-radius: 45%;
}

.round._2 {
    border-radius: 40%;
}

.round._3 {
    border-radius: 35%;
}

.round._4 {
    border-radius: 30%;
}

.round {
    border-radius: 25%;
}

.round._5 {
    border-radius: 20%;
}

.round._6 {
    border-radius: 15%;
}

.round._7 {
    border-radius: 10%;
}

.round._8 {
    border-radius: 5%;
}

.round._9 {
    border-radius: 4%;
}

.round._10 {
    border-radius: 3%;
}

.round._11 {
    border-radius: 2%;
}

.round._11 {
    border-radius: 1%;
}